.menu {
    background-color: #579ec8;
    height: 50px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 20px;
}

.menu li {
    display: flex;
    margin-left: 10px;
    line-height: 20px;
    transition: height 0.3s ease;
    text-align: center;
}

.menu a {
    color: white;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
}

.menu a:hover {
    background-color: #fff;
    color: #579ec8;
    height: 100%;
}